@mixin flex-center() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes treeview-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.treeview {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  background-color: #ffffff;
  z-index: 1000001;
  transition: .1s;

  .treeview__header {
    height: 43px;
    background-color: #3b74f0;
    display: flex;
    flex-direction: row;

    .treeview__header_content {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0 8px;
      font-size: 14px;

      .treeview__project-name {
        color: #ffffff;
      }

      .treeview__branch {
        i {
          padding: 0 3px;
        }

        color: rgba(255, 255, 255, .76);
      }
    }
  }

  .treeview__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 8px 0;
    background-color: rgb(250, 250, 250);

    .treeview__list {
      width: 100%;

      .treeview__item {
        .treeview__item-wrapper {
          width: 100%;
          height: 24px;
          display: flex;
          flex-direction: row;
          cursor: pointer;
          transition: .1s;

          &:hover {
            background-color: #e5e5e5;
          }

          &[data-type="blob"]:hover {
            .treeview__file-icon {
              .file-icon {
                display: none;
              }

              .open-raw-file {
                color: #633df0;
                display: block;
              }
            }
          }

          .treeview__tree-icon {
            flex: 0 0 auto;
            width: 20px;
            transition: .1s;
            @include flex-center();
          }

          .treeview__file-icon {
            flex: 0 0 auto;
            width: 20px;
            color: #3b74f0;
            @include flex-center();

            .open-raw-file {
              display: none;
            }
          }

          .treeview__file-name {
            flex: 1 0 auto;
            font-size: 14px;
            color: #333333;
            display: flex;
            align-items: center;
          }
        }

        &[data-state="open"] {
          > .treeview__item-wrapper {
            > .treeview__tree-icon {
              transform: rotate(45deg);
            }
          }
        }

        &[data-state="close"] {
          > .treeview__child {
            display: none;
          }
        }

        &[data-state="loading"] {
          > .treeview__item-wrapper {
            > .treeview__tree-icon {
              animation: treeview-spin 2s infinite linear;
              color: #633df0;

              > i:before {
                content: "\f1ce";
              }
            }
          }
        }

        .treeview__child {

        }
      }
    }
  }
}

.treeview-handle {
  z-index: 1000001;
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .1s;

  .treeview-open-label {
    padding: 10px;
    width: 30px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);

    i {
      font-size: 12px;
    }

    span {
      margin-left: -7px;
      margin-top: 30px;
      height: 30px;
      position: relative;
      display: inline-block;
      transform: rotate(-180deg);
      writing-mode: tb-rl;
      font-size: 14px;
    }
  }
}

body.treeview-open {
  .treeview {
    left: 0;
  }

  .treeview-handle {
    left: -30px;
  }
}
