@charset "UTF-8";
@keyframes treeview-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.treeview {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  background-color: #fafafa;
  z-index: 1000001;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
}
.treeview .treeview__header {
  flex: 0 0 auto;
  height: 43px;
  background-color: #3b74f0;
  display: flex;
  flex-direction: row;
}
.treeview .treeview__header .treeview__header_content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  font-size: 14px;
}
.treeview .treeview__header .treeview__header_content .treeview__project-name {
  color: #ffffff;
}
.treeview .treeview__header .treeview__header_content .treeview__branch {
  color: rgba(255, 255, 255, 0.76);
}
.treeview .treeview__header .treeview__header_content .treeview__branch i {
  padding: 0 3px;
}
.treeview .treeview__header .treeview__header-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.treeview .treeview__header .treeview__header-actions button {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  font-size: 18px;
}
.treeview .treeview__header .treeview__header-actions button:hover, .treeview .treeview__header .treeview__header-actions button .active {
  color: #ffffff;
}
.treeview .treeview__header .treeview__header-actions button.treeview__pin-button {
  transform: rotate(45deg);
}
.treeview .treeview__content {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.treeview .treeview__content .treeview__list {
  width: 100%;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: 0.1s;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper:hover {
  background-color: #e5e5e5;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper[data-type=blob]:hover .treeview__file-icon .file-icon {
  display: none;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper[data-type=blob]:hover .treeview__file-icon .open-raw-file {
  color: #633df0;
  display: block;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper .treeview__tree-icon {
  flex: 0 0 auto;
  width: 20px;
  transition: 0.1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper .treeview__file-icon {
  flex: 0 0 auto;
  width: 20px;
  color: #3b74f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper .treeview__file-icon .open-raw-file {
  display: none;
}
.treeview .treeview__content .treeview__list .treeview__item .treeview__item-wrapper .treeview__file-name {
  flex: 1 0 auto;
  font-size: 14px;
  color: #333333;
  display: flex;
  align-items: center;
}
.treeview .treeview__content .treeview__list .treeview__item[data-state=open] > .treeview__item-wrapper > .treeview__tree-icon {
  transform: rotate(45deg);
}
.treeview .treeview__content .treeview__list .treeview__item[data-state=close] > .treeview__child {
  display: none;
}
.treeview .treeview__content .treeview__list .treeview__item[data-state=loading] > .treeview__item-wrapper > .treeview__tree-icon {
  animation: treeview-spin 2s infinite linear;
  color: #633df0;
}
.treeview .treeview__content .treeview__list .treeview__item[data-state=loading] > .treeview__item-wrapper > .treeview__tree-icon > i:before {
  content: "";
}
.treeview .treeview__footer {
  flex: 0 0 auto;
  background-color: #8595ad;
  color: #ffffff;
  padding: 4px 8px;
}

.treeview-handle {
  z-index: 1000001;
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.1s;
}
.treeview-handle .treeview-open-label {
  padding: 10px;
  width: 30px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.treeview-handle .treeview-open-label i {
  font-size: 12px;
}
.treeview-handle .treeview-open-label span {
  margin-left: -7px;
  margin-top: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  transform: rotate(-180deg);
  writing-mode: tb-rl;
  font-size: 14px;
}

html.treeview-open .treeview {
  left: 0;
}
html.treeview-open .treeview-handle {
  left: -30px;
}
html.treeview__pinned {
  margin-left: 300px;
}
html.treeview__pinned .treeview__pin-button {
  transform: rotate(0deg) !important;
}
html.treeview__pinned .treeview__pin-button i {
  color: #ffffff;
}
html.treeview__pinned .header-content {
  padding-left: 300px;
}
html.treeview__pinned .nav-sidebar {
  left: 300px;
}

/*# sourceMappingURL=content.css.map */
